@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';

@import 'pages/home';

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* This allows the user to still increase the font size. This makes the font size 16 */
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem; /* Padding around the entire page */

	box-sizing: border-box;
}

.header {
	height: 95vh;
	/* This fades the background image and has colors over it */
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	/* clip-path allows us to change the shape of the header */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;

	&__logo-box {
		position: absolute;
		/* The position for the logo is relative because the parent element is in the header. Refer to html file */
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		/* the transform moves the entire text logo 50 percent of the top and left 
            the transform is for the element itself
        */
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

/* 
.logo:hover {
	animation: moveInRight 2s ease-out;
}
 */

/* The next part styles the main heading text
    it uses the html tag span to seperate the two heading texts
*/

/* display: block occupies 100 percent of the width */

.heading-primary {
	color: $color-white;
	text-transform: uppercase;

	/* backface-visibility hides the back of the element, in this case it steadies the animation */
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;

		/* animation-delay: 3s;
            animation-iteration-count: 3;
        */
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;

		animation: moveInRight 1s ease-out;
	}
}

/* this animates the logo text to slide to the left then back to the right and then slightly back to center */

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block; /* should display inline block when needing to add padding to buttons */
		border-radius: 10rem; /* this gives the button a round shape */
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;
	}

	&:hover {
		transform: translateY(-3px); /* this moves the button up slightly on hover */
		box-shadow: 0 1rem 1rem rgba($color-black, 0.2); /* Shadow for the button, values are, X, Y, blur, and shadow color. The .2 is opacity */

		/* this causes the button to grow on hover */
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0; /* trick to fading something out */
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;

		&::after {
			background-color: $color-white;
		}
	}

	/* pseudo element that animates the button further */
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&--animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}
